@model paypal_final.Data.IPN

@{
    ViewData["Title"] = "FinishShopping";
}

<h1>FinishShopping</h1>

<div>
    <h4>IPN</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.custom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.custom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.create_time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.create_time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.payerID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.payerID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.payerFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.payerFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.payerLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.payerLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.payerMiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.payerMiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.payerEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.payerEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.payerCountryCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.payerCountryCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.payerStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.payerStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.currency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.currency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.intent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.intent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.paymentMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.paymentMethod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.paymentState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.paymentState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.unitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.unitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.finalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.finalAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.paymentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
